img {
    border-radius: 100%;
}

div {
    text-align: center;
}


.email {
    border-radius: 30px;
    width: 15%;
}

body {
    background-color: #F8EDE3;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}